* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #232427;
	overflow-x: none;
	transition: all 0.5s ease;
}

.light {
	background-color: white;
}
.app {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1200px;
	padding: 100px 0 50px;
	overflow-x: none;
}
.toggle {
	position: absolute;
	top: 20px;
	left: 50%;
	width: 60px;
	height: 60px;
	background-color: aqua;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: none;
}
.toggle .sun {
	color: rgb(172, 172, 68);
	font-size: 2rem;
}
.toggle .moon {
	color: #fff;
	font-size: 2rem;
}
